/* Core Styles */

body {
    margin: 0;
    padding: 0;
    font-family: Open Sans, Helvetica, sans-serif;
    background: rgba(73, 196, 255, 0.9);
    /*    background: #49c4ff;*/
    color: #FFFFFF;
    font-size: 1.1em;
    line-height: 1.7;
    text-align: center;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1,
h2,
h3 {
    margin: 0;
    padding: .5em 0;
}

p {
    margin: 0;
    padding: 1em 0;
}

.btn {
    display: inline-block;
/*        background: #49c4ff;*/
    color: #FFFFFF;
    text-decoration: none;
    padding: .5em 1em;
    border: 3px solid #FFFFFF;
    margin: 1em 0;
/*    text-shadow: 2px 2px #000;*/
}

.btn:hover {
    background: #49c4ff;
    color: #FFFFFF;
}

p a {
    color: #2690D4;
    font-size: 18pt;
}


/*Navigation*/

#nav {
    /* using flex instead of inline-block removed 
    the annoying line between nav and showcase*/
    display: flex;
    flex-flow: row wrap;

    /* this is similar to float. 
    start = left, end = right*/
    justify-content: center;

}

#nav a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 15px 20px;
}

#nav a:hover {
    background: #2690D4;
    color: #FFFFFF;
}

#nav .active {
    background: #2690D4;
    color: #FFFFFF;
}

/* Header Showcase */

#showcase-index {
    min-height: 450px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}

#showcase-projects {
    min-height: 450px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}

#showcase-gallery {
    min-height: 450px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}

#showcase-news {
    min-height: 450px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}

#showcase-logs {
    min-height: 450px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}

#showcase-index .bg-image {
    position: absolute;
    background: #FFFFFF url("/students/paolo/images/showcase.jpg");    
/*    background: #FFFFFF url("/images/showcase.jpg");*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.85;
}

#showcase-logs .bg-image {
    position: absolute;
    background: #333 url("/students/paolo/images/agile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.4;
}

#showcase-news .bg-image {
    position: absolute;
    background: #333 url("/students/paolo/images/computer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.85;
}

#showcase-gallery .bg-image {
    position: absolute;
    background: #333 url("/students/paolo/images/baltimore.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.9;
}

#showcase-projects .bg-image {
    position: absolute;
    background: #333 url("/students/paolo/images/agile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.7;
}

#showcase-index h1 {
    font-size: 3em;
    padding-top: 80px;
    padding-bottom: 0;
    color: #FFFFFF;
}

#showcase-projects h1 {
    font-size: 3em;
    padding-top: 80px;
    padding-bottom: 0;
    color: #FFFFFF;
}

#showcase-gallery h1 {
    font-size: 3em;
    padding-top: 80px;
    padding-bottom: 0;
    color: #FFFFFF;
}

#showcase-news h1 {
    font-size: 3em;
    padding-top: 80px;
    padding-bottom: 0;
    color: #FFFFFF;
}

#showcase-logs h1 {
    font-size: 3em;
    padding-top: 80px;
    padding-bottom: 0;
    color: #FFFFFF;
}

#showcase-index p {
    font-size: 1em;
    padding-bottom: 0;
    color: #FFFFFF;
}

#showcase-projects .content-wrap,
#section-a .content-wrap {
    padding: 20px 1.5em;
}

#showcase-gallery .content-wrap,
#section-a .content-wrap {
    padding: 50px 1.5em;
}

#showcase-logs .content-wrap,
#section-a .content-wrap {
    padding: 50px 1.5em;
}

#showcase-news .content-wrap,
#section-a .content-wrap {
    padding: 50px 1.5em;
}

/* Section A */

#section-a {
    background: #eaeaea;
    color: #333;
    padding: 2em;
}

/* Section B */

#section-b {
    padding: 2em 1em 1em;
}

#section-b ul {
    margin: 0;
    padding: 0;
}

#section-b li {
    margin-bottom: 1em;
    background: #fff;
    color: #333;
}

.card-content p {
    padding: 1.5em;
    font-size: .9em;
}

/* Section C */

#section-c-logs {
    background: #fff;
    color: #333;
    padding: 2em;
    text-align: left;
}

#section-c {
    background: #fff;
    color: #333;
    padding: 2em;
}

/* Section D / Boxes */

#section-d .box {
    padding: 3em;
    color: #fff;
}


#section-d .box:first-child {
    background: #2690d4;
}

#section-e {
    background: #eaeaea;
    color: #333;
    padding: 2em;
}

/* Footer */

#main-footer {
    padding: 2em;
    background: #000;
    color: #eaeaea;
    text-align: center;
    font-size: .7em;
}

#main-footer a {
    color: #2690d4;
    text-decoration: none;
}

/* Media Queries */

@media (min-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }

    #section-a .content-text {
        columns: 2;
        column-gap: 2em;
    }

    #section-a .content-text p {
        padding-top: 0;
    }

    .content-wrap,
    #section-b ul {
        grid-column: 2/4;
    }

    .box,
    #main-footer div {
        grid-column: span 2;
    }

    .legal,
    #main-footer div {
        grid-column: span 8;
        padding-top: 10px;
    }

    #section-b ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
    }

    #section-b li {
        width: 31%;
    }

}

/* Navigation Medium screens */

@media all and (max-width: 700px) {
    #nav {
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        justify-content: space-around;
    }

    #main-footer {
        padding: 1em;
    }
}


/* Navigation Small screens */

@media all and (max-width: 500px) {
    #nav {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
        padding:
    }
    #main-footer {
        padding: 1em;
    }
}

.author {
    padding: 10px;
    font-size: 20px;
    width: 140px;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    border-radius: 20%;
}

/*social media icons in footer */

.fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-github {
    background: #333;
    color: white;
}

.content-title-projects {
    text-align: left;
    padding: 0;
    margin: 0;
    color: #2690D4;
}

.list-title {
    text-align: left;
    padding: 0;
}

.list-text p {
    text-align: left;
    text-indent: 3em;
    padding: 1em 0 1em 0;
}

.list-text {
    padding-top: 1em;
    padding-bottom: 1em;
}

#project-section-a {
    background-color: #eaeaea;
    color: #333;
    padding: 2em;

}

#project-section-b {
    background: #fff;
    color: #333;
    padding: 2em;
}

#project-section-b-labfour {
    background: #fff;
    color: #333;
    padding: 2em;
}

#project-section-c {
    background: #eaeaea;
    color: #333;
    padding: 2em;
}

.iframe {
    position: relative;
    height: 0;
    overflow: hidden;
}

/* 16x9 Aspect Ratio */

.iframe {
    padding-bottom: 56.25%;
}

/* 4x3 Aspect Ratio */

.iframe {
    padding-bottom: 75%;
}

.iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.site-screenshot {
    width: 400px;
    height: auto;
    margin: auto;
}

.btn-back-to-top {
    display: inline-block;
/*        background: #49c4ff;*/
    color: #2690d4;
    text-decoration: none;
    padding: .5em 1em;
    border: 3px solid #2690d4;
    margin: 1em 0;
/*    text-shadow: 2px 2px #000;*/
}

.btn-back-to-top:hover {
    background: #49c4ff;
    color: #FFFFFF;
}
