html, body {
    background: #241773; /* ravens purple */
    margin-top: 10px;
}

header {
    background: #D0B240;
    padding: 15px 15px 0 15px;
}

nav ul {
    margin: 0;
    display: inline;
    padding: 0 0 0 15px;

}

nav ul li {
    background: black;
    color: yellow;
    display: inline-block;
    padding: 2px 10px;

}

nav ul li a {
    color: white;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
h2, h3, h4, h5, h6 {
    color: rgb(107, 107, 132);
}

body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 100%;
    width: 80%;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    padding: 2.5% 2.5% 0 ;
    background: white;
    line-height: 2.0;
}
h1 {
    font: 2.8em Garamond;
    margin-bottom: .5em;
    color: rgb(83, 104, 138);
}

h2 {
    padding-top: 15px;
}

h3 {
    font-size: 1.2em;
}
iframe {
    max-width: 100%;
}
p {
    margin-bottom: 1em;
    text-indent: 50px;
}
a {
    color: rgb(184, 126, 84);
}
a:hover {
    color: yellow;
}

header h2 {
    padding-bottom: .2em;
    border-bottom: 1px solid gray;
}

footer {
    border-top: 2px solid gray;
    text-align: center;
    font-size: .8em;
    line-height: 4em;
    margin-top: 1em;
}

.flowRight {
    float: right;
    margin-left: 20px;
    margin-right: 20px;

}
.flowLeft {
    float: left;
    margin-right: 20px;
}

.imageCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.caption_center {
    text-align: center;
    font-size: 75%;
}